.avatar__uplad-wrapp {
  position: relative;
  max-width: max-content;
  margin: auto;
}
.edit__upload-avatar {
  border: 0;
  outline: none;
  position: absolute;
  right: -24px;
  top: calc(100% - 115px);
  background: transparent;
  cursor: pointer;
}
.edit__upload-avatar label {
  cursor: pointer;
}

.sidebar__profile {
  margin: -80px auto 20px;
  border-radius: 50%;
  border: 6px solid #fff;
  height: 140px;
  min-width: 140px;
  text-align: center;
  line-height: 140px;
  background: #fff;
  box-shadow: 0 -10px 10px #0000000d;
}

.sidebar__profile > img {
  border-radius: 50%;
  object-fit: contain;
}
